   body,
   html {
   	background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(178, 174, 177, 1) 28%, rgba(210, 207, 209, 1) 39%, rgba(250, 250, 250, 1) 53%, rgba(219, 219, 219, 1) 71%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 1) 100%) center fixed no-repeat;
   	background-size: 100% 100%;
   	font-family: Impact, fantasy;
		min-width: 750px;
   }

   /* estilos menu ===============================================================================================================*/

   nav.sidebar.navbar {
   	border-radius: 0px;
   }

   nav.sidebar,
   .main {
   	-webkit-transition: margin 200ms ease-out;
   	-moz-transition: margin 200ms ease-out;
   	-o-transition: margin 200ms ease-out;
   	transition: margin 200ms ease-out;
   }

   /* Add gap to nav and right windows.*/

   .main {
   	padding: 10px 10px 0 10px;
   }

   .navbar {
   	margin-bottom: 0px;
   }

   nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover,
   nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
   	color: white;
   	background-color: rgba(215, 102, 0, 0.9);
   	background: rgba(215, 102, 0, 0.9);

   }

   /*estilos baara de menu lateral*/

   .navbar-inverse {
   	background: linear-gradient(45deg, rgba(245, 121, 54, 1) 0%, rgba(255, 179, 28, 1) 22%, rgba(245, 105, 12, 1) 46%, rgba(250, 168, 3, 1) 62%, rgba(240, 110, 24, 1) 71%, rgba(235, 164, 77, 1) 100%);
   	border: none;
   	height: auto;

   }

   .navbar-header img {
   	width: 80px;
   	border-radius: 50px;
   	margin-top: 9px;
   }

   .navbar-inverse .navbar-nav > li > a {
   	color: #fff;
   	font-size: 12px;
   }

   .navbar-inverse .navbar-nav > li > a:hover {
   	color: #fff;
   	font-size: 12px;
   	background-color: rgba(215, 102, 0, 0.9);
   	background: rgba(215, 102, 0, 0.9);
   }

   .navbar-inverse .navbar-nav > .open > a,
   .navbar-inverse .navbar-nav > .open > a:hover,
   .navbar-inverse .navbar-nav > .open > a:focus {
   	color: #fff;
   	background-color: rgba(215, 102, 0, 0.9);
   	background: rgba(215, 102, 0, 0.9);
   }

   .navbar-header {
   	background: white;
   }

   /* fin estilos menu ================================================================================= */

   /* estilos header ================================================================================= */

   #opcion-susario li a {
   	padding: 0px;
   	color: white;
   	margin: 10px;
   	width: 100px;
   	border-radius: 50px;
   }

   #opcion-susario > li > a:hover,
   .nav > li > a:focus {
   	background: white;
   	color: black;
   }

   #opcion-susario .dropdown-menu li a {
   	color: black;
   	width: 90%;
   	margin: 3px;

   }

   #opcion-susario .dropdown-menu li a:hover {
   	color: white;
   	background: black;
   	width: 90%;
   	border-radius: 0px;

   }

   #cabecera img {
   	/* logo*/
   	width: 50px;
   	max-width: 30px;
   	border-radius: 50px;

   }

   #cabecera {
   	background: black;
   	border-bottom: solid 5px black;
   	height: 50px;
   	padding: 2px;
   	color: white;
   	display: block;
   }

   #cabecera p {
   	margin: 0px;
   	margin-left: 9px;
   	display: inline-block;
   	font-size: 16px;
   }

   /* contenido=============================================================================================*/

   #informaion-modulo h1 {
   	font-size: 25px;
   	color: white;
   	padding-top: 0px;
   	margin-right: 30px;
   	float: right;
   	display: inline-block;
   }

   #informaion-modulo p {
   	color: white;
   	padding: 10px;
   	margin-left: 30px;
   	font: message-box;

   }

   #contenido-modulo {}

   #informaion-modulo {
   	height: 60px;
   	background: url('../img/servidores.jpg') center;
   	background-size: 100% 100%;
   	width: 100%;

   }

   #datos-contenido {
   	width: 100%;
   	padding: 20px;
   	padding: 30px;

   }

   #menu {
   	display: block;
   }

   .img-perfil-form {
   	margin: 10px;
   	width: 190px;
   	float: right;

   }

   #formularios {
   	width: 60%;
   	background: white;
   	padding: 20px;
   	font-size: 12px;
   	font: message-box;
   	font-size: 19px;
   	display: inline-block;
   	margin: 5px;
   	float: left;
   }

   .tablas {
   	width: 100%;
   	background: white;
   	padding: 20px;
   	padding-bottom: 50px;
   	font-size: 12px;
   	font: message-box;
   	font-size: 14px;
   	display: inline-block;
   	margin: 5px;
   	float: left;
   	margin-bottom: 30px;

   }

   .table tbody tr td {

   	border-top: 2px solid #0c4554;
   	text-align: center;
   	padding: 5px;

   }

   .table tbody tr:hover {

   	background: #c7d6d4;

   }

   .table thead tr th {

   	background: #615c61;
   	color: white;
   	text-align: center;
   	border-left: solid 1px white;
   }

   .tablas-material thead tr th {

   	background: #3a393b;
   	color: white;
   	text-align: center;
   	border-left: solid 1px white;
   }


   .tablas-material tbody tr td {
   	border-top: 0px !important;
   	padding: 1px;
   	margin: 1px;
   }

   .tablas-material tbody tr td label {
   	margin: 1px;
   	padding: 4px;
   }

   .tablas-material tbody tr:hover {

   	background: white;

   }

   .otros-datos {
   	width: 35%;
   	background: white;
   	padding: 20px;
   	font-size: 12px;
   	font: message-box;
   	display: inline-table;
   	margin: 5px;
   	float: left;


   }

   legend {

   	height: 45px;
   	background: linear-gradient(45deg, rgba(26, 80, 94, 1) 0%, rgba(5, 48, 59, 1) 29%, rgba(31, 57, 64, 1) 54%, rgba(1, 51, 64, 1) 71%, rgba(36, 74, 82, 1) 100%);
   	padding: 10px;
   	color: white;
   	margin-bottom: 10px;
   }


   .form-control {
   	border: 2px solid #168072;
   	display: block;
   	width: 100%;
   }

   .btn-success {
   	background: #008080;
   	float: right;
		
   }

   .btn-success:hover {
   	background: #044444;

   }

   .btn-success:focus {
   	background: #044444;

   }

   .form-group label {
   	font-size: 17px;
   	text-align: right;
   	padding: 6px;

   }

   .datos-usuarios {
   	border: solid 2px #008080;
   	width: 100%;
   	margin-bottom: 10px;
   	border-radius: 0px 8px 8px 0px;
   	text-align: center !important;
   	padding: 5px;

   }

   .titulo-datos {
   	text-align: center;
   	margin: 0px;
   	font-size: 30px;

   }

   .titulo-datos-2 {
   	text-align: center;
   	margin: 0px;
   	font-size: 20px;
   }

   .linea-tablas {
   	border: solid 2px #00222b;
   	width: 100%;
   	margin: 0px;
		display: inline-block;

   }

   /* check box  _________________________________*/

   .funkyradio div {
   	clear: both;
   	overflow: hidden;
   }

   .funkyradio label {
   	width: 100%;
   	border-radius: 3px;
   	border: 2px solid #168072;
   	font: message-box;


   }

   .funkyradio input[type="checkbox"]:empty {
   	display: none;
   }

   .funkyradio input[type="checkbox"]:empty ~ label {
   	position: relative;
   	line-height: 2em;
   	text-indent: 3.25em !important;
   	margin-top: 0em;
   	cursor: pointer;
   	-webkit-user-select: none;
   	-moz-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
   	text-align: left !important;
   	padding: 0px !important;
   }


   .funkyradio input[type="checkbox"]:empty ~ label:before {
   	position: absolute;
   	display: block;
   	top: 0;
   	bottom: 0;
   	left: 0;
   	content: '';
   	width: 2.5em;
   	background: silver;
   	border-radius: 3px 0 0 3px;
   }



   .funkyradio input[type="checkbox"]:checked ~ label:before {
   	content: '\2714';
   	text-indent: .9em;
   	color: black;
   	background-color: whitesmoke;
   }


   .funkyradio-success input[type="checkbox"]:checked ~ label:before {
   	color: #fff;
   	background-color: green;

   }

   /* estilos modal ===================================*/

   .modal {
   	font: message-box;
   }

   .modal legend {
   	text-align: center;
   	margin: 0px;
   }


   /*responsive===========================================*/

   @media (min-width: 768px) {

   	/*Allow main to be next to Nav*/
   	.main {
   		position: absolute;
   		width: calc(100% - 30px);
   		/*keeps 100% minus nav size*/
   		margin-left: 40px;
   		float: right;
   	}


   	/*lets nav bar to be showed on mouseover*/
   	nav.sidebar:hover + .main {
   		margin-left: 200px;
   	}

   	/*Center Brand*/
   	nav.sidebar.navbar.sidebar > .container .navbar-brand,
   	.navbar > .container-fluid .navbar-brand {
   		margin-left: 0px;
   	}
   	/*Center Brand*/
   	nav.sidebar .navbar-brand,
   	nav.sidebar .navbar-header {
   		text-align: center;
   		width: 100%;
   		margin-left: 0px;
   	}

   	/*Center Icons*/
   	nav.sidebar a {
   		padding-right: 13px;
   	}

   	/*adds border top to first nav box */
   	nav.sidebar .navbar-nav > li:first-child {
   		border-top: 1px #e5e5e5 solid;
   	}

   	/*adds border to bottom nav boxes*/
   	nav.sidebar .navbar-nav > li {
   		border-bottom: 1px #e5e5e5 solid;
   	}

   	/* Colors/style dropdown box*/
   	nav.sidebar .navbar-nav .open .dropdown-menu {
   		position: static;
   		float: none;
   		width: auto;
   		margin-top: 1px;
   		background-color: transparent;
   		border: 0;
   		-webkit-box-shadow: none;
   		box-shadow: none;
   	}

   	/*allows nav box to use 100% width*/
   	nav.sidebar .navbar-collapse,
   	nav.sidebar .container-fluid {
   		padding: 0 0px 0 0px;
   	}

   	/*colors dropdown box text */
   	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
   		color: white;
   	}

   	/*gives sidebar width/height*/
   	nav.sidebar {
   		width: 200px;
   		height: 100%;
   		margin-left: -160px;
   		float: left;
   		z-index: 4;
   		margin-bottom: 0px;
   	}

   	/*give sidebar 100% width;*/
   	nav.sidebar li {
   		width: 100%;
   	}

   	/* Move nav to full on mouse over*/
   	nav.sidebar:hover {
   		margin-left: 0px;
   	}
   	.navbar-inverse {
   		position: fixed;
   	}

   }

   /* responvie 1330 px   _______________________*/

   @media (min-width: 1330px) {

   	/*Show all nav*/
   	nav.sidebar {
   		margin-left: 0px;
   		float: left;
   	}
   	/*Show hidden items on nav*/
   	nav.sidebar .forAnimate {
   		opacity: 1;
   	}
   	#contenido-modulo {
   		margin-left: 200px;
   		height: autos;
   	}
   	.navbar-inverse {
   		position: fixed;
   	}
	

   }

   /* responvie 758 px*/

   @media (max-width: 758px) {
   	.navbar-header img {
   		max-width: 80px;
	   }
   }
   @media (min-width: 768px) and (max-width:1330px) {
	
		#contenido-modulo{
		margin-left: 40px;
		}
 	}

   /* footer ===============================================================-*/

   footer {
   	text-align: center;
   	background-color: black;
   	clear: both;
   	/*	display: fixed ;*/
   	top: 0;
   	width: 100%;
   	height: 40px;
   	color: white;
   }
