body{
	background: url('../img/presentacin.jpg') center no-repeat;
	background-size: 100% 100%;
}
/* estilos menu ======================================================================*/

.bg-inverse {
	background: red;
	transition: all 1s ease;
}

.logo {
	width: 110px;
	margin: 0px;
}

.menu {
	height: 60px;
	background: white;
	color: orangered;
	border-bottom: solid 2px orange;
	margin-bottom: 0px;
	width: 100%;
	z-index: 2;

}

.navbar-inverse .navbar-nav li a {

	color: orangered;
	font-family: Impact, fantasy;
	margin-right: 1px;
	font-size: 12px;

}

/* estilos css scroll menu -----------------*/

.navInverse {
	background: white;
	border-bottom: solid 2px orange;
}

.navInverse .navbar-nav li a {
	color: currentColor;
}

/*- fin estilos css scroll menu ------------*/

.navbar-inverse .navbar-nav li a:hover {
	background: white;
	color: rgba(255, 93, 0, 0.8);
	font-size: 13px;

}

/* stilos menu responsive ----------------- */

@media(max-width:771px) {
	.navbar-inverse .navbar-nav > li a {
		color: white;
		margin-right: 15px;
		font-family: Impact, fantasy;
		font-size: 12px;
		margin-right: 15px;

	}
	.descripcion {
		margin-top: 20px;

	}
	.navbar-inverse .navbar-nav li a {
		height: 60px;
		background-color: rgba(50, 44, 44, 0.5);
		background: rgba(50, 44, 44, 0.5);
		color: rgba(50, 44, 44, 0.5);
		color: white;
	}
}

/* fin stilos menu responsive ----------------- */

.descripcion {
	border-left: solid 3px white;
	height: 300px;
	
}
.tablas{
	padding-bottom: 20px;
	margin-top: 30px;
	background: linear-gradient(135deg,
	 rgba(226,227,211,1) 0%, rgba(219,212,219,0.92) 28%,
	  rgba(170,168,171,0.79) 70%, rgba(255,255,255,0.7) 100%);
	margin-bottom: 0px;
	min-height: 440px;
}
.titulo-datos{
	padding: 3px;
	
}
.datos-usuarios{
	
	background: white;
}
/* check box  _________________________________*/

.funkyradio div {
	clear: both;
	overflow: hidden;
}

.funkyradio label {
	width: 100%;
	border-radius: 3px;
	border: 2px solid #168072;
	font: message-box;
}

.funkyradio input[type="checkbox"]:empty {
	display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
	position: relative;
	line-height: 2em;
	text-indent: 3.25em !important;
	margin-top: 0em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left !important;
	padding: 0px !important;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: silver;
	border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: black;
	background-color: whitesmoke;
}

.funkyradio-success input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: green;
}

/* estilos modal ===================================*/
.modal {
	font: message-box;
}

.modal legend {
	text-align: center;
	margin: 0px;
}
.funkyradio label {
   	background: white;


   }
/* estilos formualrioa **/
.form-group label {
	font-size: 17px;
	text-align: right;
  padding: 6px;
  color: #051835;
}
.form-control {
	border: 2px solid #168072;
	display: block;
	width: 100%;
}

.datos-usuarios {
	border: solid 2px #008080;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 0px 8px 8px 0px;
	text-align: center !important;
	padding: 5px;
}

.titulo-datos {
	margin: 0px;
	text-align: center;
  font-size: 30px;
  color:rgba(1, 51, 64, 1);
}

.titulo-datos-2 {
	text-align: center;
	margin: 0px;
  font-size: 20px;
  color: #00222b
}

.linea-tablas {
	border: solid 2px #00222b;
	width: 100%;
	margin: 10px;
	 display: inline-block;
}
/**/

legend {
	text-align: center;
	height: 45px;
	background: linear-gradient(45deg, rgba(26, 80, 94, 1) 0%, rgba(5, 48, 59, 1) 29%, rgba(31, 57, 64, 1) 54%, rgba(1, 51, 64, 1) 71%, rgba(36, 74, 82, 1) 100%);
	padding: 10px;
	color: white;
	margin-bottom: 10px;
}

footer {
	margin-top: 20px;
	text-align: center;
	background-color: black;
  clear: both;
  padding: 10px;
	/*	display: fixed ;*/
	top: 0;
	width: 100%;
	height: 40px;
	color: white;
}
.btn-success {
	background: #008080;
	float: right;
}

.btn-success:hover {
	background: #044444;
}

.btn-success:focus {
	background: #044444;
}
@media (max-width: 768px){
	.img-responsive{
		width: 170px;
	}
}
/* fin estilos menu =================================================================*/
